<%- model_class = @atividade.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:nome) %>:</strong><br>
  <%= @atividade.nome %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:descricao) %>:</strong><br>
  <%= @atividade.descricao %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:usuario_id) %>:</strong><br>
  <%= @atividade.usuario.email %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              atividades_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_atividade_path(@atividade), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              atividade_path(@atividade),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
